
.viewport {
    width: 794px;
    height: 1123px; 
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
}

.card {
    width: calc(50% - 20px);
    height: 85mm; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 10px; 
    page-break-inside: avoid; 
}

.name,
.nis {
    font-family: sans-serif;
    font-size: 13px;
    color: #13294b;
    font-weight: bold;
    white-space: nowrap;
    text-align: end;
    position: absolute;
    width: 100%;
    right: 20px; 
}  

.name {
    bottom: 85px; 
}

.nis {
    bottom: 55px; 
}

.card img {
    width: 100%;
    height: auto;
    border: 1px solid #000;
}
