@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
background-color: #ffffff;
overflow: hidden;
font-family: "Inter", sans-serif;
height: auto;
}

* {
margin-top: 0px;
}

img {
display: flex;
width: 100%;
max-height: 120px
}
h3{
    display: flex;
    white-space: nowrap;
    font-size: 15px;
    border-radius: 5px;
    color: #082A71;
    text-align: center;
    padding: 1px;
    padding-left: 10px;
} 
.apelido{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    padding-top: 60px;
    padding-left: 10px;
}
.menu{
    display: flex;
    flex-direction: row;
    
}
nav{
    display: flex;
    flex-direction: column;
}
span{
    padding-right: 4px;
}
.menu-button{
    background-color: #da2126;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    box-shadow: 0px 5px 15px rgba(79, 26, 26, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-button:hover,
.logout:hover {
    background-color: #b5161c;
    transform: scale(1.05);
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}

footer img {
    display: flex;
    width: 100%;
    max-height: 120px
}