body {
    text-align: justify;
    font-size: 20px;
    background-image: url('../../img/marca.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.paragraph {
    margin-bottom: 20px;
}
.topic {
    margin-bottom: 20px;
}
.editable-field {
    border: none;
    background-color: transparent;
    width: auto;
}