@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500&display=swap');

body {
	background-color: #d7e9f8;
	overflow: auto;
	font-family: "Inter", sans-serif;

}

* {
	margin-top: 0px;
}

.titulo-com-imagem {
	display: flex;
	width: 100%;
	max-height: 150px
}

.barraSuperior {
	margin-top: 10px;
	width: auto;
}

/* CONTEINER AZUL DA TELA */
.barramedia {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: space-between;
	justify-content: space-between;
	padding: 10px 30px 0px 30px;

}

/*CONTEINER QUE CONTEM SENHA E MESA OS DOIS BLOCOS */
.sencham {
	display: flex;
	flex-flow: column;
	align-items: center;
	border: 3px solid #13294b;
	background-color: #13294b;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* CONTEINER QUE CONTEM SENHA */
.senhatxt {
	color: white;
	padding-bottom: 10%;

}

/*CONTEINER QUE CONTEM MESA  */
.senhaguiche {
	text-align: center;
	color: white;
	margin-top: 0px;
}

/*SPAN QUE EDITA O TEXTO  */
.senhaAtualTexto {
	font-size: 14px;
}

/*SPAN QUE EDITA O NUMERO */
#senhaAtualNumero {
	font-size: 14px;
}

.senhaAtualNumero{
	background-color: #ffffff;
	color: #13294b;
	font-size: 16px;
	padding: 3px;
	border-radius: 5px;
}


/*CAMPO DO TITULO EXEMPLO( SENHA E MESA)*/
#nome_sen {
	padding-bottom: 2%;
}

#num_sen {
	padding-bottom: 2%;
}



.cont_ult1 {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	border: 3px solid #13294b;
	background-color: #13294b;
	border-radius: 10px;
	color: white;
	height: 100%;
	padding: 10px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.cont-num {
	text-align: left;
}


.ultsenha {
	font-size: 14px;
}

.ultnum {
	font-size: 14px;
}
.yt{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}