body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 2;
    padding: 0;
    text-align: justify;
    background-image: url('../../img/marca.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.editable-field {
    border: none;
    background-color: transparent;
}

.paragraph {
    margin-bottom: 20px;
}

.topic {
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}