@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background-color: #d7e9f8;
    overflow: auto;
    font-family: "Inter", sans-serif;
}

* {
    margin-top: 0px;
}

img {
    display: flex;
    width: 100%;
    max-height: 120px
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

#botoesTiposAtendimento {
    display: flex;
    flex-flow: nowrap;

}