@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500&display=swap');

body {
	background-color: #d7e9f8;
	overflow: auto;
	font-family: "Inter", sans-serif;
	overflow: hidden;
}

* {
	margin-top: 0px;
}

.titulo-com-imagem {
	display: flex;
	width: 100%;
	max-height: 248px;
}

.container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-around;
	align-content: flex-start;
	padding: 10px;
	height: 100%;
	color: #ffffff;
	font-size: 18px;

}

.barramedia {
	background-color: #13294b;
	padding: 10px;
	border-radius: 10px;
}

.senha_guinche {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	align-content: center;
	padding: 10px;
	border: 1px solid #ffffff;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cont_ult1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	padding: 10px;
	border: 1px solid #ffffff;
	line-height: 2;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cont-num {
	padding-top: 5px;
	text-align: center;
}

.nome,
.senha,
.guinche {
	border: 1px solid #ffffff;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.senha,
.guinche {
	border-radius: 10px;
	line-height: 1.5;
}

#player {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	height: 440px;
	width: 870px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.senhanum,
.ultnum {
	color: rgb(193, 0, 0);
	background-color: #ffffff;
	border-radius: 5px;
	padding: 2px;
	font-weight: bold;
	font-size: large;
}

.senhaAtual {
	line-height: 1.5;
}

@media screen and (min-width: 1440px) {
	#player {
		height: 648px;
		width: 1152px;
	}

	.container {
		font-size: 30px;
	}

	.senhanum,
	.ultnum {
		font-size: 33px;
	}

}