@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  background-color: #d7e9f8;
  overflow: auto;
  font-family: "Inter", sans-serif;
  height: 100%;
}

* {
  margin-top: 0px;
}

.titulo-com-imagem {
  display: flex;
  width: 100%;
  max-height: 120px
}

.container {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}


.menu-button {
  background-color: #13294b;
  color: #fff;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button i {
  margin-right: 10px;
}

.menu-button:hover,
.logout:hover {
  background-color: #3b82f6;
  transform: scale(1.05);
}
.tudo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.calendario{
  max-width: 600px;
  max-height: 80 0px;
  border-radius: 10px;
  margin-left: 100px;
}

.logout{
  text-align: center;
  background-color: #13294b;
  color:#ffffff;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 5px 3px 3px 3px;
  position: sticky;
  left: 1160px;
  opacity: 80%;
  cursor: pointer;
}

.rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

@media screen and (max-width: 800px) {
  .menu-button {
    font-size: 13px;
  }
}

@media screen and (min-width: 1400px) {
  .menu-button {
    font-size: 30px;
  }
}