@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    margin-top: 0px;
}
body {
    background-color: #d7e9f8;
    overflow: auto;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

img {
    display: flex;
    width: 100%;
    max-height: 120px
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}
button,
a {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 25px;
    border: none;
    font-weight: 500;
    background-color: #13294b;
    color: white;
    cursor: pointer;
}
button:hover,
a:hover{
    background-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b83f65f;
    color: #fff;
}   
a{
    text-decoration: none;
    text-transform: none;
}
.btns{
    padding-top: 20px;
}
.tipodeacesso,.setor,.email{
    font-size: 16px;
    padding-top: 15px;
    color: #13294b;
}
.nome{
    font-size: 16px;
    color: #13294b;
}
input,
select,
option {
    background-color: #ffffff;
    color: #13294b;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    padding: 1px 2px;
    border-style: outset;
}

