@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    margin-top: 0;
}
body {
    background-color: #d7e9f8;
    overflow: auto;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    display: flex;
    width: 100%;
    height: 50%;
    max-height: 120px
}

.container {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    padding: 10px
}
.linha{
    border: 1px solid #13294b;
}
.lin1{
    padding-top: 15px;
}
button,a {
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 25px;
    border: none;
    font-weight: 500;
    background-color: #13294b;
    color: white;
    cursor: pointer;
}
button:hover,a:hover{
    background-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b83f65f;
    color: #fff;
}
select,
input{
    font-size: 16px;
    border-radius: 4px;
}

