@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background-image: url(../img/fundo_cras.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    font-family: "Inter", sans-serif;
    height: auto;
}


* {
    margin-top: 0px;
}

img {
    display: flex;
    width: 100%;
    max-height: 120px
}

h2 {
    display: flex;
    text-decoration: underline 2px;
    border-radius: 5px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0px;
    color: #13294b;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
}

.bloco1 {
    display: flex;
    flex-direction: row;
}
.bloco{
    padding-top: 10px;
}

.lab {
    width: auto;
}

form {
    padding-top: 10px;
    line-height: 1.5;
}

input,
select,
option,
label {
    background-color: #ffffff;
    color: #13294b;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    padding: 1px 2px;
    border-style: outset;
}

button,
a {
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 25px;
    border: none;
    font-weight: 500;
    background-color: #13294b;
    color: white;
    cursor: pointer;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
}

button:hover,
a:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b83f65f;
    color: #fff;
}

.btn {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    padding-bottom: 5px;
}

textarea {
    width: 600px;
    height: auto;
    border-radius: 5px;
    top: 13px;
}

.inpu {
    width: 300px;
}