/* estilo.css */

/* Estilo para a tabela */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilo para a barra de navegação da páginação */
.paginmenu {
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.page-item {
    margin-right: 5px;
}

.page-item a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #333;
}

.page-item a:hover {
    background-color: #f2f2f2;
}
