@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background-image: url(../img/fundo_conc.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    height: auto;
}

* {
    margin-top: 0px;
}

img {
    justify-content: center;
    width: 100%;
    max-height: 120px
}
.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px;
    margin-top: -10px ;
}

footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

footer img {
    position: fixed;
    width: 100%;
    max-height: 120px;
    text-align: center;
    right: 0;
    bottom: 0;
}

.apelido {
    display: flex;
    justify-content: flex-end;

}

.mural {
    font-size: 14px;
    color: #13294b;
    text-align: center;
    border: 1px solid #082A71;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 300px;
}

h4 {
    padding: 3px;
    color: #ffffff;
    opacity: 95%;
    font-size: 16px;
    background-color: #13294b;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
h4 span{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-right: 10px;
}

h3 {
    display: flex;
    white-space: nowrap;
    font-size: 15px;
    border-radius: 5px;
    color: #13294b;
    text-align: center;
    padding: 1px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

nav {
    display: flex;
    flex-direction: column;
}

nav span {
    padding-right: 4px;
}
.menu-button {
    background-color: #13294b;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button:hover{
    background-color: #3b82f6;
    transform: scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.menu-button {
    background-color: #13294b;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button:hover,
.logout:hover {
    background-color: #3b82f6;
    transform: scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button[name="drop"] {
    border: none;
    cursor: pointer;
    background-color: #13294b;
    padding: 5px;
    color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.drop-content {
    display: none;
    background-color: #13294b;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.drop-content a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.menu-drop:hover .drop-content {
    display: flex;
    align-items: center;
}

.menu-drop:hover button[name="drop"] {
    background-color: #13294b;
}

.drop-content a:hover {
    background-color: #13294b;
    border-radius: 5px;
    padding: 5px;
}

.drop-content {
    display: none;
    flex-direction: row;
    background-color: #3b82f6;
    font-size: 8px;
    position: absolute;
    left: 32px;
    bottom: 0px;
    top: 0px;
    border-radius: 5px;
}

.menu-drop {
    position: relative;
}

.drop-all {
    position: fixed;
    bottom: 25px;
    opacity: 80%;
}