<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-menu.css">
    <title>Cozinha Comunitária</title>
</head>
<body>
    <div class="img">
        <h1 class="titulo-com-imagem">
        <img class="titulo-com-imagem" src="../img/h1-menu.svg" alt="Titulocomimagem">
        </h1>
    </div>
    <div class="=menu">
        <ul>
            <li><a href=""></a>/li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <footer></footer>
</body>
</html>